<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        /*
            in edit.cshtml error message is inserted into a span element
            and added into input-error-validation class,now i can use css
            to highlight it
        */
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>

    <script src="~/lib/3.3.1/Content/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery.validation/1.17.0/Content/Scripts/jquery.validate.min.js"></script>

    @*find good jquery validate unobtrusive package
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

</head>
<body class="m-1 p-1">
    <div class="bg-info p-2 row">
        <div class="col">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="col-2">
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </div>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success mt-1">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>